<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Remolacha</title>
    <link rel="stylesheet" href="libs/fonts.css" />
    <link rel="stylesheet" href="libs/material-icons/material-icons.css" />
    <script type="application/javascript" src="libs/react.production.min.js"></script>
    <script type="application/javascript" src="libs/react-dom.production.min.js"></script>
    <script type="application/javascript" src="libs/material-ui.production.min.js"></script>
  </head>
  <body></body>
</html>