.remolacha_app_Taskbar_appBar
    background: rgba(#000, 0.75) !important

    button
        border-radius: 0
        height: 48px
        min-width: 48px
    
    .remolacha_app_Taskbar_clockLoading
        margin: 0 32px
    
    .remolacha_app_Taskbar_clockButton button
        padding: 0 8px
        font-weight: normal
    
    .remolacha_app_Taskbar_tasks
        flex-grow: 1

        .remolacha_app_Taskbar_taskButton
            width: 192px
            text-align: left
            text-transform: none
            margin: 0 4px
            white-space: nowrap
            padding: 0 12px

            &.remolacha_app_Taskbar_focused
                border-bottom: 1px solid
            
            &.remolacha_app_Taskbar_minimized > :first-child
                opacity: 0.5

            > :first-child
                text-overflow: ellipsis
                overflow: hidden
                display: inline

                > span
                    display: inline
                    vertical-align: middle
                    margin-left: 0

                    > span
                        vertical-align: middle
    
.remolacha_app_Taskbar_startMenuItem
    min-height: 48px
    width: 300px

.remolacha_app_Taskbar_clockMenu hr
    margin-top: 16px
    margin-bottom: 16px
