.remolacha_app_Taskbar_appBar
    background: rgba(#000, 0.75)

    button
        border-radius: 0
        height: 48px
        min-width: 48px
    
    .remolacha_app_Taskbar_clockButton
        padding: 0 8px
        font-weight: normal

    .remolacha_app_Taskbar_taskButton
        width: 192px
        text-align: left
        text-transform: none
        margin: 0 4px
        white-space: nowrap
        padding: 0 12px
        border-bottom: 1px solid

        .MuiButton-label
            text-overflow: ellipsis
            overflow: hidden
            display: inline

            > span
                display: inline
                vertical-align: middle
    
.remolacha_app_Taskbar_startMenuItem
    min-height: 48px
    width: 300px
