@import ../css/reset.css
@import bugfixes
@import md-material-shadows

html,
body,
.remolacha_Environment
    height: 100%
    overflow: hidden
    overscroll-behavior: none     // Prevents swiping history navigation.

@import Window
