.remolacha_app_Files_window .remolacha_Window_content
    border-bottom: none !important
    
.remolacha_app_Files
    height: 100%
    display: flex
    flex-flow: column

    .remolacha_app_Files_toolbar
        padding: 0 16px

        .remolacha_app_Files_locationInput
            border-radius: 4px
            background-color: rgba(#fff, 0.15)
            color: inherit
            padding: 0 8px
            flex-grow: 1
            margin-left: 8px

            &:hover
                background-color: rgba(#fff, 0.25)

    .remolacha_app_Files_background
        flex-grow: 1
        overflow: auto

        .remolacha_app_Files_fileList
            margin: 0 24px 24px
            display: inline-block
            width: auto
            white-space: nowrap

            .material-icons
                vertical-align: middle
                margin-right: 8px

            .remolacha_app_Files_type_f,
            .remolacha_app_Files_type_p,
            .remolacha_app_Files_type_s,
            .remolacha_app_Files_type_c,
            .remolacha_app_Files_type_b,
            .remolacha_app_Files_type_u
                .material-icons
                    color: #aaa
            
            .remolacha_app_Files_symbolicLink
                font-style: italic
            
            .remolacha_app_Files_modeCell
                font-family: Roboto Mono

    .remolacha_app_Files_statusBar p
        pointer-events: none
        min-width: 0
        flex-grow: 1
        user-select: none
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

.remolacha_app_Files_progressBar
    position: absolute
    right: 0
    left: 0
    bottom: 0
