.remolacha_app_Files
    height: 100%
    display: flex
    flex-flow: column

    .remolacha_app_Files_toolbar
        padding: 0 16px

        .remolacha_app_Files_locationInput
            border-radius: 4px
            background-color: rgba(#fff, 0.15)
            color: inherit
            padding: 0 8px
            flex-grow: 1
            margin-left: 8px

            &:hover
                background-color: rgba(#fff, 0.25)
